@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  scroll-behavior: smooth;
}

/* styling navbar here */

header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  height: 70px;
  background-color: #1a3246;
}
.logo{
  width: 150px;
}
.nav-item{
  display: flex;
  align-items: center;
  margin: auto 8px;
}
.nav-link{
  font-size: 1rem;
  letter-spacing: 3px;
  color: #e1e1e1;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff;
}

.nav-link:focus:after,
.nav-link:hover:after {
  width: 100%;
  left: 0%;
}

.nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.navbar-toggler {
  width: 40px;
  background-color: white;
  padding: 2px;
}
.cart-div{
  position: relative;
}
.cart {
  cursor: pointer;
  color: white;
  position: relative;
}
.item-number-placeholder{
  background-color: white;
  border: 1px solid #1a3246;
  border-radius: 50%;
  color: #1a3246;
  position: absolute;
  /* width: 22px; */
  display: flex;
  padding: 1px 8px;
  justify-content: center;
  align-items: center; 
  bottom: 60%;
  left: 75%;
  font-size: 0.9rem;
}

/* media queries for navbar */

@media only screen and (max-width: 992px) {
  nav {
    height: auto;
  }
  .nav-item{
    margin: 5px auto;
  }
  .navbar-nav {
    padding-right: 0px;
  }
  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-collapse {
    justify-content: center;
  }
}

/* styling carousel here */

.cr-1 {
  background-image: url("images/carousel-images/female-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.cr-2 {
  background-image: url("images/carousel-images/male-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.cr-3 {
  background-image: url("images/carousel-images/male-img-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.cr-1 #cap1 {
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

#cap1 h1 {
  font-weight: lighter;
  font-size: 4.5rem;
  color: #1a3246;
}
#cap1 h1 span {
  font-weight: 800;
}

#cap1 p {
  /* border: 2px solid red; */
  font-size: 1.5rem;
}
.carousel-btn {
  margin-top: 30px;
  border: 1px solid #1a3246;
  background-color: transparent;
  width: 150px;
  height: 40px;
  font-size: 0.9rem;
  /* font-weight: 200; */
  letter-spacing: 3px;
  padding-top: 2px;
  text-transform: uppercase;
  color: #1a3246;
  transition: all;
  transition-duration: 0.3s;
}
.carousel-btn:hover {
  border-radius: 20px;
  background-color: #1a3246;
  color: white;
}

#cap2 {
  width: 600px;
  position: relative;
  right: 100px;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float: right;
  color: #1a3246;
}

#cap2 h1 {
  font-size: 4.5rem;
  font-weight: lighter;
}
#cap2 p {
  font-weight: lighter;
  font-size: 3rem;
}
#cap2 h1 span {
  font-weight: bold;
}
#cap2 h1 .modern-men {
  background-color: #1a3246;
  color: white;
  padding: 10px 5px;
}

#cap3 {
  width: 600px;
  position: relative;
  right: 100px;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float: right;
  color: #1a3246;
}

#cap3 h1 {
  font-size: 4.5rem;
  font-weight: lighter;
}
#cap3 p {
  font-size: 1.5rem;
}
#cap3 h1 span {
  font-weight: bold;
}

.dark-bg {
  height: 575px;
  width: 100%;
}

/* media queries for carousel */

@media only screen and (max-width: 992px) {
  #cap1 h1 {
    font-size: 3.3rem;
  }
  #cap2 {
    left: 100px;
  }
  #cap2 h1 {
    font-size: 3.3rem;
  }
  #cap3 {
    width: 400px;
  }
  #cap3 h1 {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .cr-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("images/carousel-images/female-img.png");
  }
  #cap1 h1,
  p {
    color: white;
  }
  .cr-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("images/carousel-images/male-img-1.png");
  }
  #cap2 h1,
  p {
    color: white;
  }
  .cr-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("images/carousel-images/male-img-2.png");
  }
  #cap3 h1,
  p {
    color: white;
  }
  .carousel-btn {
    background-color: #1a3246;
    color: white;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-item {
    height: 430px;
  }
  .cr-1 #cap1 {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  #cap1 h1 {
    font-size: 2.2rem;
  }
  #cap1 p {
    font-size: 1.3rem;
  }
  #cap2 h1 {
    font-size: 2.2rem;
  }
  #cap2 p {
    font-size: 1.3rem;
  }
  #cap3 h1 {
    font-size: 2.2rem;
  }
  #cap3 p {
    font-size: 1.3rem;
  }
  #cap1,
  #cap2,
  #cap3 {
    width: 300px;
  }
  #cap2 {
    left: 0px;
    top: 90px;
  }
  #cap3 {
    top: 70px;
    right: 10px;
  }
  .carousel-btn {
    width: 120px;
    font-size: 0.8rem;
    letter-spacing: 4px;
    padding: 0;
  }
}

/* speciality section styling */

.special-box {
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 14px 14px 27px #e8e8e8, -14px -14px 27px #ffffff;
  transition: all;
  transition-duration: 0.3s;
  /* cursor: pointer; */
}
.special-box:hover {
  /* background-color: #1a3246; */
  /* color: white; */
  transform: translateY(-10px);
}

.special-box h4{
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.special-box img {
  width: 100px;
  padding: 10px;
  transition: all;
  transition-duration: 0.3s;
}


/* media query for special box*/
@media only screen and (max-width: 576px) {
  .speciality-section {
    display: none;
  }
}

/* Trend products section styling */

.trend-head {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.product-div {
  background: #ffffff;
  box-shadow: 14px 14px 27px #e8e8e8, -14px -14px 27px #ffffff;
  width: 290px;
  height: 400px;
  background-color: white;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all;
  transition-duration: 0.3s;
  cursor: pointer;
}

.img-div {
  overflow: hidden;
}
.img-div .product-img {
  width: 100%;
  /* height: 100%; */
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.text-div {
  width: 100%;
  padding-top: 10px;
}
.text-div h5 {
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.amount{
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.fa-star {
  color: #181a7a;
  margin: 0 2px;
}
.product-div:hover .product-img {
  transform: scale(1.5);
}
/* media queries for trending products section */

@media only screen and (max-width: 768px) {
  .trend-head {
    font-size: 40px;
    text-align: center;
  }
  .quick {
    width: 100px;
  }
  .product-div:hover .quick {
    margin-top: 30px;
  }

}

@media only screen and (max-width: 576px) {
  .trend-head {
    margin-top: 30px;
    font-size: 1.3rem;
  }
  .product-div {
    width: 300px;
  }
}

/* product-entry-section styling here */
.product-entry-section {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    126deg,
    rgba(9, 9, 121, 1) 43%,
    rgba(0, 212, 255, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 50px;
}

.product-entry-div {
  border-radius: 20px;
}

#div-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("images/div-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#div-1 .text {
  text-align: center;
  position: relative;
  bottom: 30px;
}
#div-1 .text h1 {
  font-size: 70px;
  color: white;
}
#div-1 .text p {
  color: white;
  font-size: 20px;
}
#div-2 {
  width: 500px;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("images/div-2.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#div-2 .text {
  text-align: center;
  position: relative;
  top: 20px;
  height: 100%;
}
#div-2 .text h1 {
  /* font-size: 30px; */
  color: white;
}
#div-2 .text p {
  color: white;
  font-size: 20px;
}
#div-2 .text button {
  position: relative;
  /* top: 100px; */
}
#div-3 {
  width: 500px;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("images/div-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#div-3 .text h1 {
  color: white;
  font-size: 50px;
}
#div-3 .text p {
  color: white;
  font-size: 20px;
}
#div-3 .text {
  text-align: center;
  width: 300px;
}
.text button {
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  height: 35px;
  width: 150px;
  font-size: 0.8rem;
  padding-top: 3px;
  letter-spacing: 3px;
  transition: all;
  /* font-weight: 600; */
  transition-duration: 0.3s;
}
.text button:hover {
  background-color: white;
  color: #1a3246;
}

/* media queries for product entry section */

@media only screen and (max-width: 996px) {
  #div-1 .text h1 {
    font-size: 50px;
  }
  #div-2,
  #div-3 {
    width: 300px;
  }
  #div-2 .text h1 {
    font-size: 30px;
  }
  #div-2 .text p {
    font-size: 18px;
  }
  #div-3 {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.2)
      ),
      url("images/div-3.jpg");
  }
  #div-3 .text h1 {
    font-size: 40px;
  }
  #div-3 {
    align-items: flex-end;
  }
  #div-3 .text {
    position: relative;
    bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #div-1 {
    height: 500px;
  }
  #div-1 .text {
    width: 230px;
  }
  #div-1 .text h1 {
    font-size: 40px;
  }
  #div-1 .text p {
    font-size: 18px;
  }
  #div-2 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
      url("images/div-2.jfif");
      
  }
  .product-entry-div .text button {
    width: 120px;
    letter-spacing: 4px;
    font-size: 0.8rem;
  }
  #div-2 .text button {
    top: 40px;
  }
}

@media only screen and (max-width: 576px) {
  #div-1 {
    height: 400px;
    width: 200px;
  }
  #div-1 .text h1 {
    font-size: 30px;
  }
  #div-1 .text p {
    font-size: 16px;
    width: 200px;
  }
  #div-2 {
    width: 250px;
  }
  #div-2 .text h1 {
    font-size: 30px;
  }
  #div-2 .text p {
    font-size: 16px;
    /* border: 2px solid red; */
    width: 200px;
    margin: auto;
  }
  #div-2 .text button {
    top: 20px;
  }
  #div-3 {
    width: 250px;
  }
  #div-3 .text h1 {
    font-size: 30px;
  }
  #div-3 .text p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .product-entry-section {
    grid-template-columns: 1fr; /* Display in one column */
    grid-template-rows: repeat(3, 1fr); /* Three rows */
    padding: 20px; /* Reduce padding for smaller screens */
  }

  .product-entry-div {
    width: 100%; /* Take full width */
  }

  #div-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 300px;
  }
  #div-1 .text {
    width: 100%;
    /* border: 2px solid red; */
  }
  #div-1 .text p {
    margin: 10px auto;
    width: 270px;
  }
  #div-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 300px;
  }
  #div-2 .text {
    top: -25px;
    height: 200px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  #div-2 .text p {
    width: 270px;
    margin: 10px auto;
  }
  #div-2 .text button {
    top: 0;
  }
  #div-3 {
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 300px;
  }
  #div-3 .text {
    width: 100%;
  }
}

/* all products section styling */

.all-products-div h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 10px 3rem;
}
.filter-div {
  width: 500px;
  margin: 0 30px;
}
.filter-div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-div ul li {
  list-style: none;
}
.filter-links {
  font-size: 16px;
  /* letter-spacing: 3px; */
  color: #1a3246;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.filter-links:focus,
.filter-links:hover {
  color: black;
}

.filter-links:focus:after,
.filter-links:hover:after {
  width: 100%;
  left: 0%;
}

.filter-links:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: blue;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.collector {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.load-btn{
  background-color: transparent;
  width: 350px;
  height: 50px;
  border: 1px solid #181a7a;
  color: #181a7a;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.load-btn:hover{
  background-color: #1a3246;
  color: white;
  border: 1px solid #1a3246;
}
@media only screen and (max-width: 576px) {
  .load-btn{
    width: 100%;
    font-size: 0.9rem;
  }
  .all-products-div h1 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }
  .filter-div {
    width: 100%;
    margin: 0;
  }
  .filter-div ul {
    justify-content: center;
  }
  .filter-links {
    margin: 5px;
    font-size: 14px;
    /* text-align: center; */
    /* font-weight: bold; */
  }
}

/* nike show section styling */

.nike-section {
  background-color: #d3e0ea;
  margin-top: 60px;
  height: 400px;
}
.nike-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nike-img-div {
  /* border: 2px solid red; */
  height: 400px;
}
.nike-img-div img {
  height: 500px;
  position: relative;
  transform: rotate(80deg);
  /* background-color: red; */
  filter: drop-shadow(-5px 20px 35px #1a3246a6);
}

.nike-text-div h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #041562;
}
.nike-text-div p {
  font-size: 20px;
}
.nike-text-div button {
  width: 150px;
  height: 40px;
  background: transparent;
  outline: none;
  border: 1px solid #181a7a;
  color: #181a7a;
  background-color: transparent;
  font-size: 0.9rem;
  padding-top: 2px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.2s;
}
.nike-text-div button:hover {
  background-color: #1a3246;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .nike-img-div img {
    height: 400px;
  }
}
@media only screen and (max-width: 992px) {
  .nike-section {
    height: 350px;
  }
  .nike-img-div {
    /* border: 2px solid red; */
    height: inherit;
  }
  .nike-img-div img {
    height: 350px;
  }
  .nike-text-div h1 {
    font-size: 35px;
  }
  .nike-text-div p {
    font-size: 16px;
  }
  .nike-text-div button {
    width: 100%;
    height: 40px;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .nike-section {
    height: auto;
    margin-top: -30px;
    /* background: none; */
    /* border: 2px solid red; */
  }
  .nike-div {
    flex-direction: column;
    height: 600px;
  }
  .nike-img-div {
    /* margin-top: -120px; */
    height: 200px;
    margin-bottom: 45px;
  }
  .nike-img-div img {
    margin-top: 0;
    height: 250px;
  }
  /* .nike-text-div{
        text-align: center;
    } */
  .nike-text-div p {
    text-align: justify;
  }
}

/* follow instagram section styling */
.instagram-section{
  margin: 80px 50px;
}
.instagram-div h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}
.instagram-div p {
  font-size: 23px;
  color: black;
}
.instagram-div #insta-link {
  text-decoration: none;
}
.instagram-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.insta-img {
  width: 180px;
  height: 180px;
  /* border: 2px solid red; */
  overflow: hidden;
  margin: 10px;
  transition: all;
  transition-duration: 0.2s;
}
.insta-img img {
  width: 100%;
}
.insta-img:hover {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(-15px);
}

@media only screen and (max-width: 576px) {
  
  .instagram-div h1 {
    /* font-size: 30px; */
    font-size: 1.3rem;
    text-align: center;
  }
  .instagram-div p {
    font-size: 16px;
    text-align: center;
  }
  .insta-img {
    width: 250px;
    height: 250px;
  }
}

/* testimonial section styling */

.testimonial-section {
  /* border: 2px solid red; */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 30px 0; */
}
.testi-head {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0;
  /* border: 2px solid blue; */
  height: 250px;
}
.name-box img {
  width: 70px;
  border-radius: 50%;
  border: 3px solid #041562;
  margin-bottom: 10px;
}
.name-box h4 {
  color: #041562;
}
.content-box {
  width: 500px;
  font-size: 20px;
}
.quote {
  color: blue;
  /* text-align: center; */
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .caroosal {
    /* border: 2px solid red; */
    width: 300px;
    margin-top: 50px;
  }
  .testi-head {
    display: none;
    font-size: 35px;
    margin: 100px 50px;
  }
  .testimonial {
    flex-direction: column;
  }
  .name-box {
    display: flex;
    align-items: center;
  }
  .name-box img {
    margin-right: 10px;
  }
  .content-box {
    width: 300px;
    font-size: 16px;
  }
}

/* footer styling */

footer {
  background-color: #1a3246;
  /* height: 350px; */
  padding: 0 48px;
}
footer .first-row {
  border-bottom: 2px solid white;
}
.footer-item {
  min-width: 250px;
  color: white;
}
.footer-item h4 {
  /* background-color: white; */
  color: white;
  display: inline-block;
  border-radius: 30px;
  /* padding: 3px 10px; */
}
.footer-item p a {
  text-decoration: none;
  color: rgb(222, 222, 222);
}
.footer-item p {
  color: rgb(222, 222, 222);
  font-size: 18px;
  /* font-weight: lighter; */
}
.social-links-footer p i {
  font-size: 25px;
  margin: 0 5px;
  color: white;
}

.copyright p {
  color: white;
  font-size: 18px;
}
.payment-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.payment-div img {
  margin: 7px;
  cursor: pointer;
}
.payment-div h5 {
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  footer {
    padding: 0 25px;
  }
  .footer-item p {
    font-size: 18px;
  }
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment-div {
    /* border: 2px solid red; */
    justify-content: flex-start;
  }

  .copyright p {
    font-size: 16px;
  }
  .payment-div h5 {
    font-size: 16px;
  }
  .payment-div img {
    width: 30px;
  }
}

/* products page styling goes here */
.banner {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 100px;
  color: white;
}
#products-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #1a3246d0),
    url("images/products-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 150px;
  }
  .banner h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .banner h1 {
    font-size: 40px;
  }
}

/* blogs section styling goes here */
#blogs-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), #1a3246d0),
    url("images/blog-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog-section {
  padding: 50px 100px;
}
.blogs img {
  /* width: 600px; */
  height: 500px;
  margin: 30px 0;
}
.blogs h1 {
  font-size: 60px;
  text-transform: uppercase;
}
.blogs .div-line {
  background-color: #041562;
  height: 4px;
  width: 400px;
}
.blogs h2 {
  color: #041562;
  font-size: 40px;
  letter-spacing: 2px;
}
.blogs p {
  font-size: 23px;
}

/* media queries for blog page */

@media only screen and (max-width: 1130px) {
  #first-blog-img {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .blog-section {
    padding: 50px 10px;
  }
  .blogs h1 {
    font-size: 40px;
  }
  .blogs h2 {
    font-size: 30px;
  }
  .blogs p {
    color: black;
  }
  .blogs .div-line {
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .blogs img {
    height: 400px;
  }
  #first-blog-img {
    height: 250px;
    width: 100%;
  }
  .blogs h1 {
    font-size: 30px;
  }
  .blogs h2 {
    font-size: 25px;
  }
  .blogs p {
    font-size: 18px;
  }
  .blogs .div-line {
    width: 200px;
  }
}

/* about page styling goes here */

#about-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), #1a3246d0),
    url("images/news-letter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-section {
  /* margin: 70px 0; */
  padding: 70px 0;
}
.about-section h1 {
  color: #041562;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
}
.about-img-div img {
  width: 100%;
  border-radius: 20px;
  /* box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-text-div p {
  font-size: 18px;
}
.about-btn {
  width: 250px;
  height: 50px;
  padding: 11px 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  border: 2px solid #1a3246;
  color: #1a3246;
  font-weight: light;
  transition: all;
  transition-duration: 0.2s;
}
.about-btn:hover {
  background-color: #1a3246;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .about-section .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section {
    padding: 70px 10px;
  }
  .about-img-div {
    /* border: 2px solid red; */
    /* padding: 0; */
    width: 500px;
    overflow: hidden;
  }
  .about-text-div p {
    color: black;
    text-align: justify;
  }
}

/* contact page styling goes here */
#contact-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), #1a3246d0),
    url("images/contact-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-section {
  background-color: #1a3246;
}
.top-part {
  position: relative;
  bottom: 80px;
}
.top-part .contact-box {
  height: 200px;
  background-color: #e1e9ee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}
.contact-box i {
  font-size: 40px;
  color: #041562;
}
.contact-box p a {
  text-decoration: none;
  color: #1a3246;
  /* font-weight: 800; */
  font-size: 18px;
}
/* form styling */
.middle-part {
  margin-bottom: 80px;
}
.formdiv {
  background-color: #e1e9ee;
  padding: 15px;
}
.formdiv h2 {
  color: #041562;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

label {
  font-size: 14px;
}
input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  background-color: #e1e9ee;
}
textarea {
  background-color: #e1e9ee;
  display: block;
  width: 100%;
  padding: 5px;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
#register-btn {
  height: 40px;
  margin-top: 10px;
  background-color: #1a3246;
  color: white;
  outline: none;
  transition: all;
  transition-duration: 0.2s;
}
#register-btn:hover {
  background-color: #162939;
}
.input-div span {
  font-size: 14px;
}
.img-part {
  background: url("images/contact-form-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .top-part {
    top: 0;
    margin-bottom: 50px;
  }
}

/* product modal styling */

.product-message{
  color: green;
  transition: all;
  transition-duration: 0.3s;
}
.currency{
  font-size: 1rem;
}
.product-name{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.product-price{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.product-img-div{
  display: flex;
}
.product-details-div{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-img-div img {
  width: 350px;
}
.other-img-div img {
  margin: 7px 30px;
  cursor: pointer;
  width: 100px;
}
.stars-div {
  position: relative;
  bottom: 7px;
}
.quantity-and-cart{
  display: flex;
  align-items: center;
}
.quantity-and-cart label{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
#quantity-input{
    width: 50px;
    text-align: center;
    background-color: transparent;
    border: 0.5px solid #041562;
}
#add-to-cart-btn{
    background-color: #1a3246;
    color: white;
    width: 300px;
    height: 60px;
    font-size: 1.1rem;
    letter-spacing: 3px;
    border: 1px solid #1a3246;
    transition: all;
    transition-duration: 0.3s;
}
#add-to-cart-btn:hover{
    background-color: transparent;
    color: #1a3246;
}


/* media queries for product modal */
@media only screen and (max-width: 1024px){
  .other-img-div img{
    margin: 7px 10px;
    width: 60px;
  }
}

@media only screen and (max-width: 992px){
  .product-img-div{
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    /* margin-top: 130px; */
  }
  .product-details-div p{
    color: black;
    font-size: 16px;
    text-align: justify;
  }
  .main-img-div{
    padding-top: 100px;
  }
  .other-img-div{
    display: flex;
  }
}

@media only screen and (max-width: 480px){
  .main-img-div{
    padding-top: 300px;
  }
  .other-img-div{
    margin-bottom: 15px;
  }
  .other-img-div img{
    width: 50px;
  }
  .main-img-div img{
    width: 250px;
  }
  .quantity-and-cart{
    flex-direction: column;
    align-items: flex-start;
  }
  #add-to-cart-btn{
    width: 100%;
    font-size: 18px;
  }
}

/* cart page styling goes here */

.cart-banner{
  background: linear-gradient(rgba(0, 0, 0, 0.2), #1a3246d0),
    url("images/cart-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fill-btn{
  border: 2px solid #181a7a;
  background-color: transparent;
  color: #181a7a; 
  padding: 10px;
  width: 350px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.fill-icon img{
  width: 30px;
}
main{
  margin: 60px 0;
}
main  h5{
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  cursor: pointer;
}
table{
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
th{
  height: 50px;
  background-color: #f6f6f9;
}
thead tr{
  border-top: 0.5px solid rgba(0, 0, 0, 0.423);
}
tr{
  border: 0.5px solid rgba(0, 0, 0, 0.423);
  border-top: none;
}
th, td{
  display: flex;
  align-items: center;
}
tbody tr td{ 
  height: 100px;
}
.delete-product-btn{
  display: flex;
  justify-content: center;
}
.delete-product-btn img{
  width: 20px;
  cursor: pointer;
}
.updateBtn{
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #1a3246;
  border: none;
  color: #fff;
  height: 30px;
  padding-top: 3px;
  width: 100%;
}
.cart-product-img{
  display: flex;
  justify-content: center;
}
.cart-product-quantity input{
  width: 50px;
  background-color: transparent;
  /* border: none; */
  text-align: center;
}
.cart-text{
  display: flex;
  justify-content: flex-start;
}
.cart-details{
  display: none;
}

.sale-section a{
  text-decoration: none;
  color: #162939;
}

.cart-totals-section{
  display: flex;
  justify-content: flex-end;
}
.cart-totals-div{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.5px solid rgba(0, 0, 0, 0.423);
}

.cart-totals-div .total-head-part{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.423);
  padding-top: 10px;
  padding-left: 20px;
  background-color: #f6f6f9;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
.cart-totals-div .total-body-part{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.total-body-part div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.423);
  padding: 0 20px 0 20px;
}
.total-body-part p{
  margin-bottom: 0;
  height: 50px;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

#subtotal-amount,#tax-amount,#total-amount{
  letter-spacing: 2px;
  color: black;
}

#checkout-btn{
  margin: 15px auto;
  height: 60px;
  width: 400px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #1a3246;
  color: white;
  border: none;
}


@media only screen and (max-width: 992px){
  main a h5{
   font-size: 0.9rem;
  }
  thead{
    display: none;
  }
  .update-div{
    display: flex;
    justify-content: center;
  }
  .delete-product-btn{
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
    justify-content: flex-end;
    height: 40px;
  }
  .updateBtn{
    /* width: 150px; */
    height: 40px;
  }
  .update-div{
    height: 60px;
  }
  tr{
    border: none;
    margin: 30px auto;
    background-color: #f5f5f7;
  }
  .cart-text{
    height: 60px;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  .cart-details{
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
  }
  td{
    border: 0.5px solid rgba(0, 0, 0, 0.25);   
    border-top: none;
  }
  .cart-totals-section{
    justify-content: center;
  }
  .cart-totals-div{
    width: 100%;
  }
  .total-body-part p{
    color: black;
  }
  .total-body-part div{
    padding: 0 10px;
  }
}

@media only screen and (max-width: 576px){
  .fill-btn{
    width: 100%;
    font-size: 0.8rem;
  }
  #subtotal-amount,#tax-amount,#total-amount, .total-body-part div p{
    font-size: 0.8rem;
  }
  #checkout-btn{
    width: 270px;
  }
}

/* Checkout page styling goes here */
#checkout-banner{
  background: linear-gradient(rgba(0, 0, 0, 0.1), #1a3246d0),
    url("images/checkout-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.checkout-main{
  margin: 100px auto;
}
.billing-section h5{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.billing-row div label{
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #181a7a;
  position: relative;
  top: 10px;
}
.important{
  color: red;
}
/* .billing-row div input{
  background-color: #f6f6f9;
} */
#state{
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: #f6f6f9;
  display: block;
  padding: 5px;
  margin: 10px 0;
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

.input-box {
  font-size: 1.1rem;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: black;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.input-box:focus {
  border-color: #08AEEA;
  outline: none;
}

/* order section styling goes here */
.order-section{
  border: 1px solid #181a7a;
  padding: 0 20px;
}
.order-section h5{
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.order-section .order-div{
  /* padding: 0 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-div div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  padding: 5px 0;
}
.order-div p{
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: black;
}
.order-div .order-header-div p, .order-total-div p{
  font-weight: bold;
}
.x-small{
  text-transform: lowercase;
  font-size: 1rem;
}
.order-payment-div{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.order-payment-div h5{
  font-size: 1rem;
  color: #181a7a;
}
.order-payment-div div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /* border: 2px solid red; */
}
.order-payment-div div label{
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.order-payment-div div input{
  width: 16px;
  cursor: pointer;
}
.order-btn{
  width: 100%;
  background-color: #1a3246;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3px;
  border: 1px solid #1a3246;
  height: 60px;
  transition: all 0.2s;
}
.order-btn:hover{
  background-color: transparent;
  color: #1a3246;
}
.thanks-div{
  border: 1px solid #181a7a;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thanks-div h2{
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1a3246;
  /* font-size: 60px; */
}
.thanks-div p{
  font-size: 1.1rem;
  color: black;
  
}
.order-info{
  border: 1px solid #181a7a;
  padding: 8px;
  color: #181a7a;
  margin: 5px;
}
@media only screen and (max-width: 768px){
  .order-section{
    margin-top: 50px;
  }
  .order-section .order-div{
    padding: 8px;
  }
  .order-div p{
    font-size: 0.8rem;
  }
}